# todo: each dependency should specify a minimum version
cython
submitit
scipy
termcolor
addict
yapf==0.40.1
timm
torch
torchvision
transformers
numpy
opencv-python
supervision==0.6.0
pycocotools
pyyaml>3.10
colorlog
jsonlines
